/**
 * General Style rules for User Phonebook
 * @author: L. Kha <hello.lindakha@gmail.com>
 */

html {
    padding: 12px;
}

html, body, a {
    color: black;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    border: 4px solid #646464;
    box-sizing: border-box;
    margin: 25px auto;
    max-width: 620px;
    min-width: 220px;
    padding: 14px 20px;
}

h2, .nav {
    text-align: center;
}

h3 {
    margin-top: 30px;
}

tr {
    vertical-align: top;
}

tr > :first-child {
    color: #1B86A2;
    text-transform: capitalize;
}

td {
    min-width: 96px;
    padding: 4px 0;
}

a:hover {
    color: #949494;
    font-style: italic;
}

.nav {
    border-bottom: 1px dashed #616161;
    border-top: 1px dashed #616161;
    padding: 8px;
}

.nav a {
    color: #1B86A2;
    letter-spacing: 1px;
}

.nav a:hover {
    color: #949494;
    font-style: normal;
}

.user-details {
    margin-top: 20px;
}
